<div class="pull-right">
  <%= link_to("Add an exam", new_admin_exam_path, :class => "btn btn-default") %>
</div>

<br><br>

<table class="table table-boldered">
  <% @exams.each do |exam| %>
  <tr>
    <td>
      <%= render_exam_status(exam) %>

      <%= link_to(exam.title, admin_exam_path(exam)) %>
    </td>
    <td>
      <%= link_to("Edit", edit_admin_exam_path(exam)) %>
      <%= link_to("Dsetroy", admin_exam_path(exam), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>
    <td>
      <%= exam.created_at %>
    </td>
  </tr>
  <% end %>
</table>
